<div class="list">
	<h1>Angular Flickr</h1>

	<form name="form" class="validate-form">
	  <input name="tags" type="text" placeholder="Enter tags separated by a comma" id="searchCriteria" ng-model="searchCriteria.tags" ng-target="form.tags" />
	  <button type="submit" class="btn btn-primary" ng-click="search(searchCriteria);document.getElementsByName('tags').focus();">Search Flickr</button>
	</form>

	<div id="images" class="app-container">
	  <h3 ng-show="images.items.length > 0">{{ images.title }}</h3>
	  <ul class="added-fig" ng-repeat="item in images.items">
	  	<li class="item _wrap">
	  		<div class="item _img">
	    		<img class="added-img" src="{{ item.media.m }}" />
	    	</div>
	    	<div class="item _content">
	    		<p>{{ item.title }}</p>
	    		<div class="item-content _details">
	    			<p>{{ item.author }}</p>
	    			<p>{{ item.published }}</p>
	    			<p>{{ item.link }}</p>
	    		</div>
	    	</div>
	    </li>
	  </ul>
	</div>
</div>