<div class="list _wrap">
	<h1>{{ title }}</h1>

	<form name="form" class="validate-form">
	  <input name="tags" type="text" placeholder="Enter tags separated by a comma" id="searchCriteria" ng-model="searchCriteria.tags" ng-target="form.tags" />
	  <button type="submit" class="btn btn-primary" ng-click="search(searchCriteria);document.getElementsByName('tags').focus();">Search Flickr</button>
	</form>

	<div class="list _content">
	  <h2 ng-show="images.items.length > 0">{{ images.title }}</h2>
	  <ul class="added-fig">
	  	<li class="item _wrap" ng-repeat="item in images.items | limitTo: 5">
	  		<a href="{{ imageRoute(item) }}" class="item _img">
	    		<img class="added-img" src="{{ item.media.m }}" />
	    	</a>
	    	<div class="item _content">
	    		<h3><a href="{{ imageRoute(item) }}">{{ item.title }}</a></h3>
	    		<div class="item-content _details">
	    			<p><a href="https://flickr.com/photos/{{ item.author_id }}" target="_blank">{{ item.author }}</a></p>
	    			<p>{{ item.published }}</p>
	    			<p><a href="{{ item.link }}" target="_blank">{{ item.link }}</a></p>
	    		</div>
	    	</div>
	    </li>
	  </ul>
	</div>
</div>